{% extends "blank_layout.html" %}
{% load static %}
{% block content %}

<!--bread-crumb-->
<div class="iq-breadcrumb" style="background-image: url(./assets/images/pages/01.webp);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center">
                    <h3 class="title">TV Shows</h3>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                        <li class="breadcrumb-item active">TV Shows</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--bread-crumb-->


<div class="section-padding">
    <div class="container-fluid">
        <div class="card-style-grid">
            <div class="row row-cols-xl-4 row-cols-md-2 row-cols-2">
                {% for d in tvshow %}
                <div class="col mb-4">
                    <div class="iq-card card-hover">
                        <div class="block-images position-relative w-100">
                            <div class="img-box w-100">
                                <a href="{% url 'TVshow_details' d.id %}"
                                    class="position-absolute top-0 bottom-0 start-0 end-0"></a>
                                <img src="/static/media/{{d.TVShow_image}}" alt="{{d.title}}"
                                    class="img-fluid object-cover w-100 d-block border-0">
                            </div>
                            <div class="card-description with-transition">
                                <div class="cart-content">
                                    <div class="content-left">
                                        <h5 class="iq-title text-capitalize">
                                            <a href="{% url 'TVshow_details' d.id %}">{{d.title}}</a>
                                        </h5>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <span class="movie-time-text font-normal">{{d.howmanyseasons}} Seasons</span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="block-social-info align-items-center">
                                <ul class="p-0 m-0 d-flex gap-2 music-play-lists">
                                    <li class="share position-relative d-flex align-items-center text-center mb-0">
                                        <span class="w-100 h-100 d-inline-block bg-transparent"> <a href="{% url 'addToWatchlist' d.id %}">
                                            <svg class="mt-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                            </svg></a>
                                        </span>
                                        
                                    </li>
                                    <li
                                        class="share position-relative d-flex align-items-center text-center mb-0">
                                        <span class="w-100 h-100 d-inline-block bg-transparent"> <a href="{% url 'addToFavourite' d.id %}">
                                            <i class="fa-regular fa-heart"></i></a>
                                        </span>
                                        
                                    </li>
                                </ul>
                                <div class="iq-button">
                                    <a href="{% url 'single_movie' d.id %}"
                                        class="btn text-uppercase position-relative rounded-circle">
                                        <i class="fa-solid fa-play ms-0"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                {% endfor %}
            </div>
            <div class="mt-5">
                <nav aria-label="Page navigation example" style="border: none;">
                    <ul class="pagination justify-content-center" style="border: none;">

                        <li class="page-item " style="border: 1px solid green;">
                            {% if tvshow.has_previous %}
                            <a class="page-link text-primary" href="?page={{ tvshow.previous_page_number }}"
                                aria-label="Next">
                                <span style="border: none;">&laquo;</span>
                            </a>
                            {% endif %}

                        </li>

                        {% for i in tvshow.paginator.page_range %}
                        <a class="page-link text-primary" href="?page={{i}}" style="border: none;">
                            <span style="border: none;">{{i}}</span>
                        </a>

                        {% endfor %}

                        <li class="page-item " style="border: 1px solid green;">
                            {% if tvshow.has_next %}
                            <a class="page-link text-primary" href="?page={{ tvshow.next_page_number }}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            {% endif %}

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock content %}