{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StarFlix | your streaming platform</title>
    <!-- Google Font Api KEY-->
    <meta name="google_font_api" content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/images/favicon.ico" />

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="{% static 'css/libs.min.css' %}" />

    <!-- font-awesome css -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />

    <!-- Iconly css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />

    <!-- SwiperSlider css -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">





    <!-- Streamit Design System Css -->
    <link rel="stylesheet" href="{% static 'css/streamit.min.css' %}" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}" />

    <!-- Rtl Css -->

    <!-- Google Font -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class=" custom-header-relative ">
    
    <!-- loader Start -->
    <!-- loader Start -->

    <!-- loader END -->
    <!-- loader END -->
    
    
    <main class="main-content">
        {% block header %}
        {% include "header.html" %}
        {% endblock header %}
        
        {% block content %}
        {% include "index.html" %}
        {% endblock content %}
        
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
    </main>
    


    

    
    <div id="back-to-top" style="display: none;">
        <a class="p-0 btn bg-primary btn-sm position-fixed top border-0 rounded-circle" id="top" href="#top">
            <i class="fa-solid fa-chevron-up"></i>
        </a>
    </div>

    
    <!-- Wrapper End-->
    <!-- Library Bundle Script -->
    <script src="{% static 'js/libs.min.js' %}"></script>
    <!-- Plugin Scripts -->


    <!-- SwiperSlider Script -->
    <script src="{% static 'js/swiper.min.js' %}"></script>


    <!-- Select2 Script -->
    <script src="{% static 'js/select2.js' %}" defer></script>


    <!-- Lodash Utility -->
    <script src="{% static 'js/lodash.min.js' %}"></script>
    <!-- External Library Bundle Script -->
    <script src="{% static 'js/external.min.js' %}"></script>
    <!-- countdown Script -->
    <!-- utility Script -->
    <script src="{% static 'js/utility.js' %}"></script>
    <!-- Setting Script -->
    <script src="{% static 'js/setting.js' %}"></script>
    <script src="{% static 'js/setting-init.js' %}" ></script>
    <!-- Streamit Script -->
    <script src="{% static 'js/streamit.js' %}" ></script>
    <script src="{% static 'js/swiper.js' %}" ></script>
    <script src="{% static 'js/flip.js' %}" ></script>
</body>

</html>