{% extends "blank_layout.html" %}
{% load static %}
{% block content %}

<section class="section-padding-bottom">
    <div class="profile-box">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <div class="d-flex align-items-center gap-3">
                    <div class="account-logo d-flex align-items-center position-relative">
                        {% if not user.profile_pic %}
                        <img src="/static/images/person.jpeg"
                            class="img-fluid object-cover rounded-3" alt="profile">
                        {% else %}
                        
                        <img src="{% if user.socialaccount_set.all.0.get_avatar_url %}{{ user.socialaccount_set.all.0.get_avatar_url }}{% else %}{{ user.profile_pic.url }}{%endif%} "
                            class="img-fluid object-cover rounded-3" alt="profile">
                        {% endif %}

                        
                    </div>
                    
                    <div>
                        <h6 class="font-size-18 text-capitalize text-white fw-500">{{user.first_name}} {{user.user_full_name}} </h6>
                        <span class="font-size-14 text-white fw-500">{{user.email}} {{user.user_email}} </span>
                    </div>
                </div>
                <div class="iq-button">
                    <div class="me-5  position-relative" style="width: 100px;">
                        <span class="">Current Plan : </span><h4 class="text-uppercase mt-1 text-primary">{{user.subscription}}</h4>
                       
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        
                <input class="mt-1" type="file" id="profile_pic" name="profile_pic"
                    accept="image/*"><br>
                <button class="  mt-2" style="background-color: green; border: none;"
                    
                    type="submit">Update Profile
                </button>
            </form>
        </div>
    </div>
    <div class="tabs">
        <div class="container-fluid">
            <div class="content-details iq-custom-tab-style-two">
                <ul class="d-flex justify-content-center nav nav-pills tab-header" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="pill" href="#playlist" role="tab"
                            aria-selected="true">Watchlist</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#favorites" role="tab"
                            aria-selected="false">Favorites</a>
                    </li>
                </ul>
                <div class="tab-content px-0">
                    <div id="playlist" class="tab-pane animated fadeInUp active show" role="tabpanel">
                        <div class="overflow-hidden">
                            <div class="d-flex align-items-center justify-content-between my-4">
                                <h5 class="main-title text-capitalize mb-3">My Watchlist</h5>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                                {% for i in watchlist %}
                                <div class="col mb-4">
                                    <div class="watchlist-warpper card-hover-style-two">
                                        <div class="block-images position-relative w-100">
                                            <div class="img-box">
                                                <a href="{% if i.movie_id.movie_duration %}{% url 'single_movie' i.movie_id.id  %}{% else %}{% url 'single_tvshow' i.tvs_id.id  %}{% endif %}"
                                                    class="position-absolute top-0 bottom-0 start-0 end-0"></a>
                                                <img src=" /static/media/{% if i.movie_id.movie_duration %}{{i.movie_id.movie_image}}{% else %}{{i.tvs_id.season.show.TVShow_image}}{% endif %}" alt="movie-card"
                                                    class="img-fluid object-cover w-100 d-block border-0">
                                            </div>
                                            <div class="card-description">
                                                <h5 class="text-capitalize fw-500"> <a href="{% if i.movie_id.movie_duration %}{% url 'single_movie' i.movie_id.id  %}{% else %}{% url 'single_tvshow' i.tvs_id.id  %}{% endif %}">{% if i.movie_id.movie_duration %}{{i.movie_id.title}}{% else %}{{i.tvs_id.season.show.title}} : <span class="text-secondary h6">{{i.tvs_id.episode_title}}</span>{% endif %}</a> </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-1 font-size-12">
                                                        <i class="fa-regular fa-eye text-primary"></i>
                                                        <span
                                                            class="text-body fw-semibold text-capitalize">{% if i.movie_id.movie_duration %}{{i.movie_id.movie_duration}}{% else %}{{i.tvs_id.TVshow_epi_duration}}{% endif %}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center gap-1 font-size-12">
                                                        
                                                        <span class="text-body fw-semibold text-capitalize">{% if i.movie_id.movie_duration %}<i class=" fa fa-star text-primary"></i>{{i.movie_id.imdb_rating}}{% else %}<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-film text-primary" viewBox="0 0 16 16">
                                                            <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
                                                          </svg> S{{i.tvs_id.season.number}} E{{i.tvs_id.number}}{% endif %}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-end gap-1 font-size-12">
                                                        <a href="{% if i.movie_id.movie_duration %}{% url 'removeWatchlist' i.movie_id.id %}{% else %}{% url 'removeWatchlistTV' i.tvs_id.id %}{% endif %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" style="color: red;" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                          </svg>
                                                        <span class="text-body fw-semibold text-capitalize">Remove</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                    
                    <div id="favorites" class="tab-pane animated fadeInUp" role="tabpanel">
                        <div class="overflow-hidden">
                            <div class="d-flex align-items-center justify-content-between my-4">
                                <h5 class="main-title text-capitalize mb-3">My favourite</h5>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                                {% for i in favourite %}
                                <div class="col mb-4">
                                    <div class="watchlist-warpper card-hover-style-two">
                                        <div class="block-images position-relative w-100">
                                            <div class="img-box">
                                                <a href="{% if i.movie_id.movie_duration %}{% url 'single_movie' i.movie_id.id  %}{% else %}{% url 'single_tvshow' i.tvs_id.id  %}{% endif %}"
                                                    class="position-absolute top-0 bottom-0 start-0 end-0"></a>
                                                   
                                                <img src=" /static/media/{% if i.movie_id.movie_duration %}{{i.movie_id.movie_image}}{% else %}{{i.tvs_id.season.show.TVShow_image}}{% endif %}" alt="movie-card"
                                                    class="img-fluid object-cover w-100 d-block border-0">
                                              
                                            </div>
                                            <div class="card-description">
                                                <h5 class="text-capitalize fw-500"> <a href="{% if i.movie_id.movie_duration %}{% url 'single_movie' i.movie_id.id  %}{% else %}{% url 'single_tvshow' i.tvs_id.id  %}{% endif %}">{% if i.movie_id.movie_duration %}{{i.movie_id.title}}{% else %}{{i.tvs_id.season.show.title}} : <span class="text-secondary h6">{{i.tvs_id.episode_title}}</span>{% endif %}</a> </h5>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="d-flex align-items-center gap-1 font-size-12">
                                                        <i class="fa-regular fa-eye text-primary"></i>
                                                        <span
                                                            class="text-body fw-semibold text-capitalize">{% if i.movie_id.movie_duration %}{{i.movie_id.movie_duration}}{% else %}{{i.tvs_id.TVshow_epi_duration}}{% endif %}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center gap-1 font-size-12">
                                                        <span class="text-body fw-semibold text-capitalize">{% if i.movie_id.movie_duration %}<i class=" fa fa-star text-primary"></i>{{i.movie_id.imdb_rating}}{% else %}<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-film text-primary" viewBox="0 0 16 16">
                                                            <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
                                                          </svg> S{{i.tvs_id.season.number}} E{{i.tvs_id.number}}{% endif %}</span>
                                                    </div>
                                                    <div class="d-flex justify-content-end gap-1 font-size-12">
                                                        
                                                        <a href="{% if i.movie_id.movie_duration %}{% url 'removeFavourite' i.movie_id.id  %}{% else %}{% url 'removeFavouriteTV' i.tvs_id.id  %}{% endif %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" style="color: red;" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                          </svg>
                                                        <span class="text-body fw-semibold text-capitalize">Remove</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}