{% extends "blank_layout.html" %}
{% load static %}
{% block content %}

<!--bread-crumb-->
<div class="iq-breadcrumb" style="background-image: url(./assets/images/pages/01.webp);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center">
                    <h2 class="title">Category</h2>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                        <li class="breadcrumb-item active">category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--bread-crumb-->

<section class="section-padding">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="main-title text-capitalize mb-0">Movie Categories</h4>
        </div>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
            
            {% for i in tags %}
            <div class="col">
                <a href="{% url 'tagsredirect' i.tag %}" class="iq-tag-box">
                <span class="iq-tag">
                    {{i.tag}}
                </span>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>


{% endblock content %}